@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* font-family: "Inter", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* padding-left: 20px;
  padding-right: 20px; */
}
header,
main {
  max-width: 1320px;
  font-family: "Merriweather", serif;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;

}
button {
  cursor: pointer;
}
/* shared styles */
.primary-color {
  color: #f00;
}
.secondary-color {
  color: #070211;
}
.thred-color {
  color: rgba(7, 2, 17, 0.6);
}
/* banner styles */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/images/Banner\ Image.png") center no-repeat;
  height: 600px;
  color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.banner-title {
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  max-width: 600px;
}

/* offer off section */
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 120px;
}
.offer-off {
  font-size: 88px;
  margin-bottom: 30px;
}
.offer-title {
  font-size: 48px;
  margin-block: 20px 40px;
}

/* party style */
.party {
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/images/Vectorrr.png ") no-repeat;
  display: flex;
  /* padding: 120px; */
  gap: 30px;
  color: white;
  align-items: center;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 30px;
  border-radius: 16px;
}
.party-content {
  max-width: 70%;
}
.party-title {
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-block: 24px 48px;
}
.party-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  color: white;
}

/* place section styles */
.place {
  height: 449px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 120px auto;
  border-radius: 16px;
}
.place-btn {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: white;
  border: none;
}

/* best-offer styles */
.best-offer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 120px auto;
}
.best-offer-content,
.best-offer-image,
.best-offer-year {
  flex: 1;
}

.best-offer-sub-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.best-offer-title {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-block: 20px;
}
.best-offer-description,
.holiday-description,
.portfolio-description,
.newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 40px;
}

.best-offer-image {
  border-radius: 50%;
  border: 15px solid #f00;
}
.best-offer-image img {
  display: block;
  border-radius: 364.844px;
  width: 100%;
}

.best-offer-year-number {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
}
.best-offer-year img {
  display: block;
  margin-top: 40px;
}

/* holidays sale style */
.holiday-sale {
  margin: 120px auto;
  text-align: center;
  max-width: 1020px;
}
.holiday-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-title {
  color: #070211;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 20px;
}
.discount-images {
  height: 750px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  background: url("../assets/images/Rectangle\ 2.png") center bottom no-repeat;
  border-radius: 16px;
}
.discount-images img {
  width: 100%;
  display: block;
}
/* portfolio style   */
.portfolio {
  margin-block: 120px;
}
.portfolio-sub-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.portfolio-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  margin-top: 30px;
}
.portfolio-description {
  max-width: 800px;
  margin-bottom: 30px;
}
.portfolio-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.portfolio-showcase img {
  display: block;
  width: 100%;
}

.newsletter {
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 60px 100px;
}
.newsletter-title {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.newsletter-description {
  margin-top: -10px;
}
.subscribe-filde {
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
input {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  /* background: rgb(255, 255, 255); */
}
input,
.subscribe {
  border: none;
  padding: 24px 36px;
  display: inline-block;
}
.subscribe {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  color: white;
  background-color: #f00;
}

/* footer style */
footer {
  background: rgb(7, 2, 17);
  color: white;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  height: 609px;
  margin-top: 100px;
 
  
}
.footer {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-content{
  padding-top: 200px;
}
.footer-content,
.copy-right {
  display: flex;
  justify-content: space-between;
}

.footer-contact p{
  display: flex;
  align-items: center;
  gap: 3px;
}
.footer-soicle-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-block: 60px;
}
